<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swimmingliu.springboottlias.mapper.EmpMapper">

    <sql id="selectFromEmp">
        select id,
               username,
               password,
               name,
               gender,
               image,
               job,
               entrydate,
               dept_id,
               create_time,
               update_time
        from emp
    </sql>

    <insert id="addEmp">
        insert into emp(username, name, gender, image, job, entrydate, dept_id, create_time, update_time)
        VALUES (#{username}, #{name}, #{gender}
        <if test="image != null">, #{image}</if>
        <if test="job != null">, #{job}</if>
        <if test="entrydate != null">, #{entrydate}</if>
        <if test="deptId != null">, #{deptId}</if>
        <if test="createTime != null">, #{createTime}</if>
        <if test="updateTime != null">, #{updateTime}</if>
        )
    </insert>

    <update id="updateEmpById">
        update emp
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="name != null">name = #{name},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="image != null">image = #{image},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="entrydate != null">entrydate = #{entrydate},</if>
            <if test="job != null">job = #{job}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteEmpByIds">
        delete from emp
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getEmpByCondition" resultType="com.swimmingliu.springboottliaspojo.pojo.Emp">
        <include refid="selectFromEmp"></include>
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="gender != null">
                and gender = #{gender}
            </if>
            <if test="begin != null and end != null">
                and entrydate between #{begin} and #{end}
            </if>
        </where>
        order by update_time desc
    </select>

    <select id="getEmpById" resultType="com.swimmingliu.springboottliaspojo.pojo.Emp">
        <include refid="selectFromEmp"></include>
        where id = #{id}
    </select>
</mapper>